In [1]:
import numpy as np
import pandas as pd
from sklearn.cross_validation import train_test_split
from sklearn.metrics.pairwise import pairwise_distances

/Users/deveshkandpal/anaconda/lib/python3.6/site-packages/sklearn/cross_validation.py:41: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [2]:
path = '/Users/deveshkandpal/Code/ADS/final-project/dataset/dataset/step3/state=NC/nc.json'
nc_review_df = pd.read_json(path, orient='records', lines=True)

In [3]:
nc_review_df.head()

,address,attributes,categories,city,latitude,longitude,name,neighborhood,review_review_id,review_stars,review_text,stars,unique_business_id,user_average_stars,user_name,user_review_count,user_unique_user_id
0,4801-P N Tryon St,"{'Ambience': {'casual': False, 'classy': False...","[Restaurants, Mexican]",Charlotte,35.258699,-80.785958,Taqueria Tóluca,,2kbvCQfmxfPSYGCnsl5tPw,3,"If you don't speak Spanish, it is not a proble...",3.0,21516,3.65,Debra,423,401514
1,2121 Shamrock Dr,"{'Alcohol': 'full_bar', 'Ambience': {'casual':...","[Sandwiches, Restaurants, American (New)]",Charlotte,35.235092,-80.787771,Letty's,Plaza Midwood,B8MWqpia_A2SvEPCdhIBWg,5,Love Letty's! it is off the beaten path (for m...,4.0,21262,4.22,Robin,72,6619
2,4801-P N Tryon St,"{'Ambience': {'casual': False, 'classy': False...","[Restaurants, Mexican]",Charlotte,35.258699,-80.785958,Taqueria Tóluca,,5WlLB5jxCJ-5M8N4ID8GoA,2,"The food wasn't great, and our waitress wasn't...",3.0,21516,2.20,Leslie,5,64544
3,2121 Shamrock Dr,"{'Alcohol': 'full_bar', 'Ambience': {'casual':...","[Sandwiches, Restaurants, American (New)]",Charlotte,35.235092,-80.787771,Letty's,Plaza Midwood,rvM9x7GIFc84xXM8SsdQjw,4,"I was pretty sad to see Foskoskie's close, but...",4.0,21262,3.92,Peter,127,28164
4,4801-P N Tryon St,"{'Ambience': {'casual': False, 'classy': False...","[Restaurants, Mexican]",Charlotte,35.258699,-80.785958,Taqueria Tóluca,,qUSAl2ATzTBeTI1DOkSvIA,5,Awesome prices for the amount of food!!! Very ...,3.0,21516,4.20,Dom,5,415884

In [4]:
number_unique_users = nc_review_df.user_unique_user_id.nunique()
number_unique_business = nc_review_df.unique_business_id.nunique()

In [5]:
print(number_unique_business)
print(number_unique_users)

3780
56401

In [6]:
nc_review_df_new = nc_review_df[['user_unique_user_id','unique_business_id','review_stars','name']]

In [7]:
nc_review_df_new.head()

   user_unique_user_id  unique_business_id  review_stars             name
0               401514               21516             3  Taqueria Tóluca
1                 6619               21262             5          Letty's
2                64544               21516             2  Taqueria Tóluca
3                28164               21262             4          Letty's
4               415884               21516             5  Taqueria Tóluca

In [8]:
unique_user_dict = dict()
unique_business_dict = dict()
user_id_ctr = 0
for user_id in nc_review_df_new['user_unique_user_id'].values :
    
    if user_id not in unique_user_dict :
        
        unique_user_dict[user_id] = user_id_ctr
        user_id_ctr = user_id_ctr + 1

In [9]:
business_id_ctr = 0   
for business_id in nc_review_df_new['unique_business_id'].values :
    
    if business_id not in unique_business_dict :
        unique_business_dict[business_id] = business_id_ctr
        business_id_ctr = business_id_ctr + 1

In [10]:
nc_review_df_new['dict_user_id'] = nc_review_df_new.apply(lambda x : unique_user_dict[x['user_unique_user_id']], axis = 1)
nc_review_df_new['dict_bus_id'] = nc_review_df_new.apply(lambda x : unique_business_dict[x['unique_business_id']], axis = 1)

/Users/deveshkandpal/anaconda/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
/Users/deveshkandpal/anaconda/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [11]:
nc_review_df_new.head()

,user_unique_user_id,unique_business_id,review_stars,name,dict_user_id,dict_bus_id
0,401514,21516,3,Taqueria Tóluca,0,0
1,6619,21262,5,Letty's,1,1
2,64544,21516,2,Taqueria Tóluca,2,0
3,28164,21262,4,Letty's,3,1
4,415884,21516,5,Taqueria Tóluca,4,0

In [12]:
train_data, test_data = train_test_split(nc_review_df_new, test_size = 0.25)

In [13]:
#Create two user-item matrices, one for training and another for testing

train_data_matrix = np.zeros((number_unique_users, number_unique_business))
for line in train_data.itertuples():
    train_data_matrix[line[5]-1, line[6]-1] = line[3]  

test_data_matrix = np.zeros((number_unique_users, number_unique_business))
for line in test_data.itertuples():
    test_data_matrix[line[5]-1, line[6]-1] = line[3]